felix/
galculator/
go/
gtk-3.0/
spotify/
yay/
gh/
xfce4/
dolphinrc
kde.org/
dconf/
AdvantageScope/
pulse/
Thunar/
obsidian/
JetBrains/
Google/
htop
systemd/
user-dirs.dirs
user-dirs.locale
glib-2.0/
pip/
nvim/lazy-lock.json
xsettingsd/
nwg-look/
Code - OSS/
bluetuith/
unity3d/
jgit/
waypaper/
libresprite/
menus/
OpenRGB/
discord/
enlisted/
yazi/plugins/
ghc/
Proton/
suckless
