felix/
galculator/
go/
gtk-3.0/
spotify/
yay/
gh/
xfce4/
dolphinrc
kde.org/
dconf/
AdvantageScope/
pulse/
Thunar/
obsidian/
JetBrains/
Google/
htop
systemd/
user-dirs.dirs
user-dirs.locale
glib-2.0/
nvim/lazy-lock.json
