* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}


#clock {
  background-color: @surface0;
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  padding: 10px 0px 10px 0px; 
}

#network {
	padding-right: 50px;
}
